* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

li a{
    color: #130f0f;
    border-bottom: 2px solid red;
    border: hidden;
    text-decoration: none;
}

li a:hover {
    color: red;
    border-bottom: 2px solid red;
}

.btn {
    display: flex;
}

.btn button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #130f0f;
    padding: 3px;
}

.btn button:hover {
    background-color: #ed3636;
    color: white;
}

.logo img {
    margin-top: -10px;
    width: 190px;
    height: 55px;
}

.slider img {
    height: 500px;
    width: 99vw;
    margin: auto;
}

.hot {
    display: flex;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
}


.outer {
    margin-left: 15px;
    display: inline-block;
    min-width: 23vw;
    height: 420px;
    border-radius: 6px;
    border: 1px rgb(193, 182, 182) solid;
}
.outer:hover{
    box-shadow: 2px 3px 10px rgb(191, 187, 187);
}

.inner {
    margin: 15px auto;
    border-radius: 6px;
    width: 92%;
    height: 320px;
}

.inner img{
    width: 100%;
    border-radius: 6px;
    height: 100%;
}

footer {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: rgb(29, 27, 27);
    color: white;
}

.left{
    display: flex;
}
.left img{
    width: 900px;
    height: 600px; 
}

/* .red-shoe{
    filter: drop-shadow(10px 10px 10px black);
} */

form{
    display: flex;
    margin: 90px auto;
    margin-left: 20px;
    flex-direction: column;
    height: 500px;
}
form h1{
    font-size: 40px;
    font-weight: 700;
}
form h3{
    margin-top: 25px;
    font-size: 20px;
    /* font-weight: 700; */
    margin-bottom: 20px;
}
form input{
    width: 440px;
    outline: none;
    margin-top: 15px;
    line-height: 30px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgb(221, 220, 220);
}
form button{
    margin-top: 20px;
    outline: hidden;
    border: hidden;
    height: 45px;
    border-radius: 6px;
    background-color: #e6cfcf;
}
form p{
    text-align: center;
    margin-top: 20px;
}
form p a{
    text-decoration: none;
    color: rgb(234, 8, 8);
}

.links{
    display: flex;
    justify-content: space-evenly;
}

.about{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.left1 h1{
    font-size: 55px;
    margin-top: -20px;
}
.left1{
    margin-left: 200px;
    margin-top: 100px;
    width: 40vw;

}

.right1{
    width: 50vw;
    height: 500px;
}
.right1 img{
    width: 100%;
    height: 100%;
}

.cart{
    width: 500px;
    height: 500px;
    margin-left: -50px;
    margin-top: 100px;
}

.btn input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ddd;
    padding: 6px;
}
.btn input:focus{
    border: none;
    outline: 1px solid gray;
    background-color: #fff;
}